services:
  nginx:
    image: nginx:latest
    container_name: devlink-nginx
    restart: always
    ports:
      - "80:80"  
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - devlink-net

  db:
    image: postgres:15-alpine
    container_name: devlink-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - devlink-net

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: devlink-api
    restart: always
    depends_on:
      - db
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      DB_HOST: db
    networks:
      - devlink-net

  scraper:
    build:
      context: ./scraper
      dockerfile: Dockerfile
    container_name: devlink-scraper
    depends_on:
      - api
    env_file:
      - .env
    environment:
      API_URL: "http://api:8080/jobs"
    networks:
      - devlink-net

volumes:
  postgres_data:

networks:
  devlink-net:
    driver: bridge